html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #222222;
  color: #ffffff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-top: 40vh;
}
